<!DOCTYPE HTML>

{% load staticfiles %}
{% load static from staticfiles %}

<html>
<head>
    <title>OrcaFin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="{% static 'alpha/css/ie/html5shiv.js' %}"></script><![endif]-->
    <script src="{% static 'alpha/js/jquery.min.js' %}"></script>
    <script src="{% static 'alpha/js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'alpha/js/jquery.scrollgress.min.js' %}"></script>
    <script src="{% static 'alpha/js/skel.min.js' %}"></script>
    <script src="{% static 'alpha/js/skel-layers.min.js' %}"></script>
    <script src="{% static 'alpha/js/init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'alpha/css/skel.css' %}">
    <link rel="stylesheet" href="{% static 'alpha/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'alpha/css/style-wide.css' %}">
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'alpha/css/ie/v8.css' %}" /><![endif]-->
</head>
<body class="landing">

<!-- Header -->
<header id="header" class="alt">
    <h1><a href="/">OrcaFin</a></h1>
    <nav id="nav">
        <ul>
            <li>
                <a href="" >Industries</a>
                <ul>
                    <li><a href="industry.html">Telecom</a></li>
                    <li><a href="#">Media</a></li>
                    <li><a href="#">Dolby</a></li>
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Akamai</a></li>
                    <li><a href="#">Netflix</a></li>
                </ul>
            </li>
            <li>
                <a href="" >Companies</a>
                <ul>
                    <li><a href="#">Qualcomm</a></li>
                    <li><a href="#">Intel</a></li>
                    <li><a href="#">Dolby</a></li>
                    <li><a href="#">Amazon</a></li>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">Akamai</a></li>
                    <li><a href="#">Netflix</a></li>
                </ul>
            </li>
            <li>
                <a href="" >Blog</a>
                <ul>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="elements.html">Elements</a></li>
                    <li>
                        <a href="">Submenu</a>
                        <ul>
                            <li><a href="#">Option One</a></li>
                            <li><a href="#">Option Four</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#" class="button">Sign Up</a></li>
        </ul>
    </nav>
</header>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
</footer>

</body>
</html>